## Model Evaluation  

### Introduction
Our project requires a model that can count how many cars are on a road at any time.  
We identified YOLO as the best model for this task. We further narrowed down our options
to two specific YOLO models.  
Thus, we wish to evaluate how these two models perform: Yolo V4 & YOLOX + SAHI.  

### Data Labelling  
To evaluate our two models, we first needed to create suitable data for us to be able to 
evaluate our models.  
Thus, we chose 100 random images of roads in Singapore and labelled manually how many cars were in each image.  
With these values, we calculated the traffic density of the roads in each image.

### Metrics
After labelling our data we decided to test our two models on two metrics:   
1) Time taken  
2) Accuracy (using Mean Squared Error)

### Training  
We used both models to count how many cars were in all 100 images.  
We then used this data to calculate the traffic density on the roads of each image.  
Furthermore, we timed how long the total time taken to evaluate the traffic density of each image took.  
All these data was collected and saved in modelEval.csv.

### Results

In [34]:
import pandas as pd
modelEval = pd.read_csv("modelEval.csv", index_col = 0)
modelEval

     Actual Values     YoloV4  YOLOX + SAHI  Time Yolo4  Time YOLOX + SAHI
1        39.822575  33.043026     38.163661    4.289809           1.990627
2         4.956573   0.000000      1.872886    4.356466           1.908411
3         0.000000   0.000000      0.000000    4.389684           1.341397
4        62.860179  56.848109     61.332932    3.943468           1.473967
5        32.100283  25.114012     28.613427    4.089451           1.598938
..             ...        ...           ...         ...                ...
96       13.688398   9.051104     11.756236    3.931993           1.097151
97        0.000000   0.000000      0.000000    4.337657           1.416976
98        0.000000   0.000000      0.000000    3.912691           1.516285
99       71.049435  62.764764     69.455032    3.856059           1.698233
100      40.498140  35.753999     39.021794    3.813031           1.208761

[100 rows x 5 columns]

### Time Evaluation  

Time taken on average for Yolo 4:

In [21]:
pd.DataFrame(modelEval[["Time Yolo4", "Time YOLOX + SAHI"]].mean(), columns = ["Average Time Taken"])

                   Average Time Taken
Time Yolo4                   3.961546
Time YOLOX + SAHI            1.725816

Therefore, YOLOX + SAHI is much faster on average than YOLO V4.

### Accuracy Evaluation

Evaluate how accurate both models are by calculating Mean Square Error for both models:

In [33]:
yolov4_mse = ((modelEval["YoloV4"] - modelEval["Actual Values"])**2).mean()
yolox_mse = ((modelEval["YOLOX + SAHI"] - modelEval["Actual Values"])**2).mean()
pd.DataFrame({"MSE": [yolov4_mse, yolox_mse]}, index = ["YOLO V4", "YOLOX + SAHI"])

                    MSE
YOLO V4       47.634512
YOLOX + SAHI   7.938731

Therefore, YOLOX + SAHI has a much lower MSE than YOLO V4.  

Thus, since in both metrics YOLOX + SAHI performs better than YOLO V4, we will use YOLOX + SAHI.